### FNF-Specific

# File used for the NG API. Should not be shared with others.
APIStuff.hx
art/build_x32-officialrelease.bat
art/build_x64-officialrelease.bat
art/test_x64-debug-officialrelease.bat

# Don't know why they didn't ignore this one
[Cc]rash/

### Post-build / "export" directories.
[Ee]xport/*
[Ee]xport/release/*
[Ee]xport/release/windows/*
[Ee]xport/release/linux/*
[Ee]xport/release/macos/*
[Ee]xport/release/html5/*
[Ee]xport/debug/windows/*
[Ee]xport/debug/linux/*
[Ee]xport/debug/macos/*
[Ee]xport/debug/html5/*

### Excluded source code / Unused source code.
[Ss]ource/excluded/*

### Visual Studio Code and other IDE specific things.
*.code-workspace
.idea/*
.vs/*

# Local history which shouldn't be shared.
.history
.ionide

# Others...
.BUILD_TIME
